#board {
    background-image: url('moara.png');
    width: 960px;
    height: 960px;
    margin: auto;
}

.node {
    position: absolute;
    font-size: 40px;
    color: greenyellow;
    margin-left: 20px;
    margin-top: 15px;
    z-index: 1001;
    cursor: pointer;
}

.dot {
    position: absolute;
}
