#board {
    width: 960px;
    height: 960px;
}

.node {
    position: absolute;
    font-size: 40px;
    color: greenyellow;
    padding: 15px 20px;
    z-index: 1001;
    cursor: pointer;
    float: left;
}

.dot {
    position: absolute;
}
